{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Studenten</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Studentnummer</th>
                <th>Naam</th>
                <th>Leeftijd</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.naam }}</td>
                <td>{{ student.leeftijd }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">Bekijk</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">Aanpassen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
